{# text search form #}
<form method="get" action="">
  {# hidden input named "url" with the value viewcategories. to retain the parameters #}
  <input type="hidden" name="url" value="viewcategories">
  <input type="text" name="query" placeholder="Search by category name" required>
  <button type="submit" name"categorySearch">Search</button>
</form>
{# table view. categories #}
<table class="table">
  <thead class="thead">
    <tr>
      <th class="th">ID</th>
      <th class="th">Category Name</th>
      {# parent name column added #}
      <th class="th">Parent Name</th>
      <th class="th">Content Count</th>
      {# delete column #}
      <th class="th"> Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for category in viewCategories %}
     {# <?php 
     foreach ($searchResults['viewCategories'] as $category) : 
     ?> #}
      <tr>
        <td class="td">{{ category.id }}</td>
        <td class="td">{{ category.category_name }}</td>
        <td class="td">{{ category.parent_name }}</td>
        <td class="td">{{ category.content_count }}</td>
        {# delete #}
        <td class="td">
        {# submit delete form #}
        <form action='' method="post" class="delete-form">
          {# hidden input to retain the category id #} 
          <input type="hidden" name='categoryId' value={{category.id}}/>
          <button type='submit' name="deleteCategory" class="delete-category">DELETE &#10060; </button>
        </form>  
        </td>
      </tr>
      {# <?php endforeach; ?> #}
    {% endfor %}
  </tbody>
</table>
   
{# display pagination #}
<div class='pagination' id='category-pagination'>

{% if totalPages > 1 %}
    <div class='pagination-sort' id="pagination-click">
        {% if currentPage != 1 %}
            <p class='first'><a href="{{ currentURL }}&page=1">First</a></p>
            <p class='prev'><a href="{{ currentURL }}&page={{ currentPage - 1 }}">Previous</a></p>
        {% endif %}
        
        {% for page in 1..totalPages %}
            <p class="between"><a href="{{ currentURL }}&page={{ page }}">{{ page }}</a></p>
        {% endfor %}
        
        {% if currentPage != totalPages %}
            <p class='prev'><a href="{{ currentURL }}&page={{ currentPage + 1 }}">Next</a></p>
            <p class='first'><a href="{{ currentURL }}&page={{ totalPages }}">Last</a></p>
        {% endif %}
    </div>
{% endif %}
</div>